{% extends "base.html" %}

{% block contenido %}

<div class='row'>
    <div class="col s12 divider"></div>
</div>

<div class='row'>
    <div class="col s8 blue darken-4 offset-s2 hoverable">
        <div class='card-panel'>
            <h5 class="center blue-text text-darken-4 bold-text">Registro de Salida</h5>
            <div class="row">
                <form method='POST' action='/salida'>
                    {{ salida.csrf_token }}
                <div class='input-field col s12'>
                    {{ salida.empleado(size = 20, class='validate') }}
                    {{ salida.empleado.label }}
                </div>
                <div class='input-field col s12'>
                    {{ salida.muestras(class='materialize-textarea') }}
                    {{ salida.muestras.label }}
                </div>
                <div class='input-field col s12'>
                    {{ salida.encargado(size = 20, class='validate') }}
                    {{ salida.encargado.label }}
                </div>
                <div class='col s12'>
                    <input type='submit' value='Salida' class='btn-large waves-effect waves-light blue right'>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
